// Variables
$color_grey: #BFBFBF;
$color_green: #B3D23F;
$color_dark: #1A1A1A;
$color_light: #FAFAFA;
$color_background: #FFFFF;
$default_timer: 987ms;

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  padding: 50px 250px;
}

svg{
  width: 55px;
  height: 13px;
}

@media (max-width: 1400px) {
  .App {
    padding: 50px 150px;
  }
}
  @media (max-width: 1040px) {
    .App {
      padding: 50px 70px;
    }
  }

@media (max-width: 870px) {
  .App {
    padding: 20px 20px;
  }
}


//modal
.form {
  display: flex;
  flex-direction: column;
  margin-top: 300px;
}

.inner {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.disabled {
  background-color: white;
  border: black 1px solid;
  color: black;
}


.table thead th {
  border: none;
}


.table th {
  border: none;
}

.tbody_td:first-child {
  background-color: black;
  color: white;
  border: none;
}

.table td {
  border: none;
}
.tbody_tr {
  background-color:#D8E6F3;
}

tr:nth-child(2n) {background-color:#AFCDE7;}

